/* /*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*


/* ---- Base Rules ---- *
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- *
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- *

/* Navigation Styles*
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles *
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles *
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* ---- Theme Rules ---- *
/* Landing Container Styles *
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles *
/* Note that background circles are created with psuedo elements before and after *
/* Circles appear to be random do to use of :nth-of-type psuedo class *
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- *
/* Section Active Styles *
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  *
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations *
@keyframes rotate {
	from {
		transform: rotate(0deg)
                translate(-1em)
                rotate(0deg);
	}
	to {
		transform: rotate(360deg)
                translate(-1em) 
                rotate(-360deg);
	}
} */

/* Global Rules */

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 2;
}
.landing__container{
    width: 720px;
    margin: 0 auto;
    text-align: justify;
}

/* My Framework */ 

h2{
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    font-weight: lighter;
}

/* Navigation Rules */

.page__header{
    background: #ffffff;
    height: 50px;
    width: 100%;

}
.navbar__menu{
    width: 720px;
    margin: 0 auto;
    background: #000000;
    color: #ffffff;
}
.navbar__menu ul{
    display: inline-block;
}

.navbar__menu #navbar__list .menu__link{
    display: inline-block;
    padding: 0 15px;
}
.navbar__menu #navbar__list .menu__link:hover{
    color: #00c8ff;
    transition: .2s ease-in-out;
}
/* About Me Section Rules */

.about-me ul{
    list-style: none;
    padding: 0;
    margin: 30px;
    overflow: hidden;
}
.about-me ul li{
    width: 50%;
    float: left;
    min-height: 100px;
    padding: 10px;
}

/* My-Skills Section Rules */

.my-skills{
    padding: 30px 0;
    overflow: hidden;
}
.my-skills .skills,
.my-skills .progress{
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-skills .skills h3{
    margin-left: 10px;
    color: #43484b;
}

.my-skills .skills p{
    line-height: 1.5;
    margin-left: 10px;
    color: #cacaca;
}

.my-skills .skills button{
    background: none;
    margin-left: 10px;
    border: 2px solid rgb(19, 165, 0);
    color: rgb(19, 165, 0);
    padding: 10px 30px;
}

.my-skills .progress .tech{
    margin-left: 50px;
}
.my-skills .progress .tech h3{
    color: #43484b;
    text-transform: uppercase;
    font-weight: lighter;
}
.my-skills .progress .tech div{
    background: #CCC;
    width: 90%;
    height: 25px;
    line-height: 25px;
    text-align: right;
}
.my-skills .progress .tech div span{
    display: block;
    background: rgb(19, 165, 0);
    color: #ffffff;
    font-weight: bold;
}

/* Resume Section Rules */

.resume{
    padding: 30px 0;
    text-align: center;
    background: #F2F2F2;
}
.resume h3{
    color: #43484b;
    font-weight: lighter;
    text-transform: uppercase;
}
.resume p{
    line-height: 1.5;
    color: #7a7a7a;
}
.resume button{
    padding: 10px 30px;
    background: none;
    border: 2px solid #3dcb80;
    color: #3dcb80;
}
/* My Education Section Rules */

.my-education{
    padding: 30px 0;
    overflow: hidden;
}
.my-education hr{
    border: 1px solid #e6e6e6;
}
.my-education hr.content-separator{
    width: 98%;
    margin: 20px 0;
}
.my-education .main,
.my-education .exp{
    width: 50%;
    float: left;
}
.my-education .main h3{
    font-weight: lighter;
    text-transform: uppercase;
    margin-left: 10px;
    color: #43484b;
}
.my-education .main p{
    line-height: 1.5;
    margin-right: 15px;
    color: #adadad;
}
.my-education .main p:last-of-type{
    margin-bottom: 20px;
}
.my-education .exp h3{
    margin-bottom: 0;
    color: #43484b;
    font-weight: lighter;
    text-transform: uppercase;
}
.my-education .exp p{
    margin: 8px 0px 15px 0px;
    color: #757474;
}
.my-education .exp > p:nth-of-type(2),
.my-education .exp > p:nth-of-type(4){
    margin-bottom: 50px;
}
.my-education .exp p span{
    color: #b0b0b0;
}
.my-education .exp > span{
    padding: 6px 5px;
    border: 2px solid rgb(0, 204, 0);
    background: rgb(0, 204, 0);
    color: #ffffff;
    font-weight: 100;
}


/* Testemonials Section Rules*/

.testemonials{
    padding: 30px 0;
    margin-top: 30px;
    text-align: center;
    background: #F2F2F2;   
}
.testemonials h3{
    color: #615959;
    font-weight: lighter;
}
.testemonials q{
    display: block;
    color: #979797;
    font-style: italic;
    font-weight: lighter;
    line-height: 2;
    margin-top: 15px;
}
.testemonials ul{
    list-style: none;
    padding: 0;
}
.testemonials ul li{
    border: 1px solid #027a2a;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.testemonials ul li:first-of-type{
    background: #027a2a;
}

/* Footer Rules */

footer{
    background-color: #43484b;
    color: #ffffff;
    font-weight: bold;
}
footer .landing__container{
    text-align: center;
    padding: 20px 10px;
}

